<!doctype html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="layouts/main">

<head>
	<title>Edit Board</title>

</head>


<body>

	<div layout:fragment="content">
		<div class="container">
			<!-- content start -->
			
			<br /><br />
			<h1>Edit Board '<span th:text="${boardName}">Board Name</span>'?</h1>
			
			<br />
			<form th:action="@{/__${boardName}__/edit}" method="post" class="col-5">
			
			<input type="hidden" id="boardName" name="boardName" th:value="${boardName}"></input>
			
			<div class="form-group">
			    <label for="content">Content</label>
			    <textarea class="form-control" id="content" name="content" rows="8" th:text="${content}"></textarea>
			  </div>
			
			  <div class="form-row align-items-center">
			    <div class="col-auto">
			      <div class="input-group mb-2">
			        <div class="input-group-prepend">
			          <div class="input-group-text">Password</div>
			        </div>
			        <input type="password" name="password" class="form-control" id="password">
			        
			        <p class="text-danger" th:text="${param.error[0]}" th:unless="${param.error == null}">
			        	Invalid Password
			        </p>
			        
			      </div>
			    </div>
			    <div class="col-auto">
			      <button type="submit" class="btn btn-info mb-2">Update Board</button>
			    </div>
			  </div>
			</form>
			
			<!-- content end -->
		</div>
	</div>
	
</body>
</html>